@import "tailwindcss";

@theme {
  /* Usamos el prefijo --background-image- para que Tailwind cree la clase */
  --background-image-hero: url("./src/assets/img/image.png");
  --color-primary: #3490dc;
  --color-secondary: #ffed4a;
  --color-accent: #e3342f;
  --color-background: #ffffff;
  --color-text: #a5a5a5;
  --color-dark: #1a202c;
  --color-light: #f7fafc;
  --color-overlay-80: rgba(33, 33, 33, 0.8);
  --color-overlay-50: rgba(33, 33, 33, 0.5);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: grid;
  @apply bg-hero bg-cover bg-center bg-no-repeat bg-fixed;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  background-color: var(--color-overlay-80);
}
